<div class="data">
    <header>
        <img src="" alt="team1logo">
        <div class="infos">
            <div class="score">SCORE</div>
            <div class="day">DAY</div>
        </div>
        <img src="" alt="team2logo">
    </header>
    <main>
        <div class="players">
            <div class="team1players">
                <header>
                    TEAM 1 HIGHLIGHTED PLAYERS
                </header>
                <main>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                </main>
            </div>
            <div class="team2players">
                <header>
                    TEAM 2 HIGHLIGHTED PLAYERS
                </header>
                <main>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                    <p>SOME PLAYER</p>
                </main>
            </div>
        </div>
    </main>
</div>